<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swipe.application">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">

        <activity android:name=".MainActivity">
        </activity>
        <activity
            android:name=".GameDetailsActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity">
        </activity>
        <activity
            android:name=".PlaylistDetailsActivity">
        </activity>
        <activity
            android:name=".AddGamesToPlaylist">
        </activity>
        <activity
            android:name=".GroupDetailsActivity">
        </activity>
        <activity
            android:name=".AddPlaylistToGroup">
        </activity>
    </application>
</manifest>
